@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-3.3.1.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
</head>

<body>
    <input id="btnGenerateCode" class="btn btn-success pull-left"
           type="button" value="Generate Code" />
    <input id="btnCreateGroup" class="btn btn-success pull-left"
           type="button" value="Generate Groups" />
    <input id="btnCreateUsers" class="btn btn-success pull-left"
           type="button" value="Create Users" />
    <input id="btnAddUsersToGroups" class="btn btn-success pull-left"
           type="button" value="Add Users To Groups" />
    <input id="btnLogoff" class="btn btn-success pull-right"
           type="button" value="Log Off" />

    <script type="text/javascript" src="~/Scripts/Custom/loggedIn.js"></script>
</body>
</html>